@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

html,
body,
#root {
  font-family: "Comfortaa", "Arial", sans-serif;
  margin: 0;
  height: 100%;
}

body {
  min-height: 100%;

  .text,
  h1,
  h2,
  h3,
  h4,
  li,
  p {
    color: #084957;
  }

  a:not(.no-link) {
    color: #2c699a;
  }

  hr {
    border-color: #084957;
  }

  code:not(.hljs) {
    color: #a30008;
  }

  &.dark-mode {
    background-color: black;

    .text,
    h1,
    h2,
    h3,
    h4,
    li,
    p {
      color: #f0f;
      text-shadow: 0 0 7px #f0f;
    }
    a:not(.no-link) {
      color: #0ff;
      text-shadow: none;
    }
    hr {
      border-color: #f0f;
    }

    code:not(.hljs) {
      color: orange;
    }
  }
}

#__next {
  height: 100%;
}

.noGlow {
  text-shadow: none;
}

.no-link {
  text-decoration: none;
}

.no-list {
  li {
    list-style: none;
  }
  padding: initial;
}
