@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

html,
body,
#root {
  font-family: "Comfortaa", "Arial", sans-serif;
  margin: 0;
  height: 100%;
}

body {
  min-height: 100%;

  .text,
  h1,
  h2,
  h3,
  h4,
  li,
  p {
    color: #084957;
  }

  a:not(.no-link) {
    color: #2c699a;
  }

  hr {
    border-color: #084957;
  }


  &.dark-mode {
    background-color: black;

    .text,
    h1,
    h2,
    h3,
    h4,
    li,
    p {
      color: #f0f;
      text-shadow: 0 0 7px #f0f;
    }
    a:not(.no-link) {
      color: #0ff;
      text-shadow: none;
    }
    hr {
      border-color: #f0f;
    }

    code:not(.hljs) {
      color: orange;
    }

    pre > code {
      display: block;
      width: 100%;
      overflow-y: scroll;
    }
  }
}

#__next {
  height: 100%;
}

.noGlow {
  text-shadow: none;
}

.no-link {
  text-decoration: none;
}

.no-list {
  li {
    list-style: none;
  }
  padding: initial;
}


// Vivide theme

/* Vivid Dark - Theme for highlight.js */
/* by Nathan Schneider (@nschneid) */
/* adapted from Atom theme: https://github.com/nschneid/vivid-syntax */


/* medium gray */
.hljs-comment {
  color: hsl(220,9%, 55%)
}

/* orange */
.hljs-variable,
.hljs-regexp,
.hljs-attribute,
.ruby .hljs-constant,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.language-css .hljs-class,
.language-css .hljs-pseudo {
  color: orange;
}

/* orange */
.hljs-number,
.language-css .css-rule .css-value,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant,
.hljs-class .hljs-title {
  color: orange;
}

/* light purple */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata,
.hljs-class .hljs-params {
  color: hsl(95, 38%, 62%);
}

/* green */
.hljs-decorator,
.language-css .hljs-attribute,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub {
  color: hsl(95, 38%, 62%);
}

/* blue */
.hljs-function .hljs-title,
.language-css .hljs-id {
  color: hsl(207, 82%, 66%);
}

/* magenta */
.hljs-keyword,
.hljs-function,
.hljs-tag,
.xml .hljs-tag .hljs-title {
  color: #f0f;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: hsl(220,13%,18%);
  color: hsl(220, 14%, 71%);
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}