@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

html,
body,
#root {
  font-family: "Comfortaa", "Arial", sans-serif;
  margin: 0;
  height: 100%;
}

body {
  min-height: 100%;

  h1,
  h2,
  h3,
  h4,
  p {
    color: #084957;
  }

  a {
    color: #2c699a;
  }

  &.dark-mode {
    background-color: black;

    h1,
    h2,
    h3,
    h4,
    p {
      color: #f0f;
      text-shadow: 0 0 7px #f0f;
    }
    a {
      color: #0ff;
      text-shadow: none;
    }
  }
}

#__next {
  height: 100%;
}

.noGlow {
  text-shadow: none;
}
